.navbar {
     background-color: #0062cc;
     color: white;
 }
.mt-4 {
  padding-bottom: 5%;
}
#wrapper {
  overflow-x: hidden;
}

.mt-4 {
  margin: auto;
}

.btnSubmit
{   
  margin-left: 25%; 
  margin-top: 5%;
  width: 50%;
  border-radius: 0.5rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background-color:  #0062cc;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#page-content-wrapper .page-button{
  margin-left: 50%;
  margin-right: 50%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.container-fluid {
  margin-top: 10%;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
